<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 开启注解 -->
 	<context:annotation-config />
 	<context:component-scan base-package="com.vic" />
 	
 	<!-- 加载properties文件 -->
 	<context:property-placeholder location="classpath:redis.properties, classpath*:jdbc.properties" />
	 
	<!-- sentinel config -->
	<!-- <bean id="sentinelConfig"
		class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
		<constructor-arg name="master" value="mymaster" />
		<constructor-arg name="sentinelHostAndPorts">
			<set>
				<value>192.168.88.153:26379</value>
				<value>192.168.88.153:26380</value>
				<value>192.168.88.153:26382</value>
			</set>
		</constructor-arg>
	</bean> -->
	
	<!-- jedisPoolConfig -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxIdle="${redis.maxIdle}"
		p:maxTotal="${redis.maxActive}"
		p:maxWaitMillis="${redis.maxWait}"
		p:testOnBorrow="${redis.testOnBorrow}"
		p:blockWhenExhausted="${redis.blockWhenExhausted}"> 
    </bean>

	<!-- jedisConnectionFactory -->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.host}" 
		p:port="${redis.port}" 
		p:timeout="${redis.timeout}"
		p:poolConfig-ref="jedisPoolConfig">
		<!-- sentinel config -->
		<!-- <constructor-arg ref="sentinelConfig" /> -->
	</bean>
	
	<!-- Key-Value序列化使用的是默认的jdk -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"  
		p:connectionFactory-ref="jedisConnectionFactory" />
 	
 	<!-- Key-Value序列化使用的是StringRedisSerializer -->
 	<!-- <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
 		p:connectionFactory-ref="jedisConnectionFactory" /> -->
 	
 	<bean id="redisUtil" class="com.vic.sdra.utils.RedisUtil">
 		<property name="redisTemplate" ref="redisTemplate"/>
 	</bean>
 	
 	
</beans>